#basket {

  .caroussel {

    width: 100% ;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

    article.productCard:hover .priceContainer h4 {
      color: inherit;
    }

    > article.productCard{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: 1px #dcdcdc;

      height: 120px;
      width: 100%;

      img {
        margin: 0;
        height: 95%;
        width: 15%;
      }

      div {
        display: flex;
        justify-content: center;

        &.productTitle {
          width: 52%;
          height: auto;
          align-items: normal;
          flex-direction: column;

          padding: 3px;

          > h4{
            margin-left: 0;
            font-family: "Poppins Light", sans-serif;
          }

          > h3 {
            margin-left: 0;
            font-family: "Poppins", sans-serif;
          }
        }

        &.productCounter {
          align-items: center;
          justify-content: center;
          width: 15%;

          > div {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 3px;

            > div {
              width: 30%;

              > h4 {
                margin-top: 2px;
                font-family: "Poppins Light", sans-serif;
              }
            }

            > button {
              display: block;
              width: 28px;
              aspect-ratio: 1/1;
                > rect {
                  margin: auto;
                  background: white;
                  width: 21px;
                  height: 4px;
                  display: block;
                }

              &:first-of-type {
                background: var(--paragraphe);
              }

              &:last-of-type {
                background: var(--highlight);

                > rect {
                  &:first-of-type {
                    margin-top: -1px;
                  }
                  &:last-of-type {
                    transform: rotate(90deg) translateY(-1px);
                    margin-top: -4px;
                  }
                }
              }
            }
          }
        }

        &.priceContainer {
          align-items: center;
          width: 18%;

          h4 {
            position: static;
            text-align: center;
            margin: 0;
          }
        }
      }

    }

  }
}

#totalBasket {
  width: 100%;
  height: 120px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;

  > div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;

    > div {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        p {
          font-weight: bold;
        }
        span {
          margin-top: -5px;
        }

      }

      > h4 {
        margin-top: -13px;
        font-size: 50px;
      }
    }

      button {
        background: var(--highlight);

        span {
          font-size: 50px;
          font-family: LIQUIDO, sans-serif;
          color: white;
        }
      }

  }

}