main {
  .mangaContainer {
    .manga {
      display: flex;
      justify-content: center;
      gap : 15px;

      > div.imageContainer {
        width: 25%;
        padding: 5px;

        > img {
          width: 100%;
        }
      }

      > div.descCardContainer {
        padding-left: 10px;
        width: 70%;

      }
    }

    > .divider {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
  .catalog {
    &.carousselMod {
      grid-auto-flow: column dense;
      grid-template-columns: none;

      overflow-x: scroll;
      padding: 10px 0 20px 0;
      scroll-snap-type : x proximity;
      & > .productCard {
        width: 220px;

        &:first-of-type {
          margin-left: 7px;
        }

        > .priceContainer {
        transition: background-color 1s;

          > h4 {
            position: static;
          }

          > button {
            margin-left: 0;
            transition: width 1s, margin-left 1s;
          }

          &:hover {
            background: var(--highlight);
          }
        }
      }
    }

    &.classicMod {
      grid-template-columns: repeat(5, calc(20% - 12px));
    }


    &.classicMod, &.carousselMod  {
      display: grid;
      > .productCard {
        > .productTitle {
          height: 70px;
          > h3 {
            line-height: calc(var(--fontSizeTitle) - 4px);
          }

          > h4 {
            margin: 0;
          }
          > .vol {
            margin-top: -2px;
          }
        }

        > .priceContainer {
          > h4 {
            margin-top: -4px;
            font-size: 40px;
          }

          button {
            height: 45px;
          }
        }
      }

      a.productCard {
        text-decoration: none;
        color: black;
      }
    }

  }
}