main {
  width: 100vw;
}

button {
  border: solid 1px gray;
  width: 25px;
}

article, ul {
  padding-left: 20px;

  > li {
    padding-left: 5px;
  }

  margin-bottom: 10px;
}

#formStock {
  display: flex;
  gap: 20px;
  margin: auto;

  select, input {
    max-width: 300px;
  }

}

#ChartStock {
  margin-top: 30px;
}