* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;

  &:focus-visible, &:focus-within, &:focus, &:-moz-focusring{
    outline: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

@font-face {
  font-family: "LIQUIDO-Fluid";
  src: url("../ressources/fonts/LIQUIDO-Fluid.otf")
}

@font-face {
  font-family: "LIQUIDO";
  src: url("../ressources/fonts/LIQUIDO-Reguar.otf")
}


:root {
  --background: #F3F3F3;
  --main: #1F1F1F;
  --highlight: #FF0042;
  --paragraphe: #B0B0B0;
}

h1, h2, h3, h4 {
  font-family: LIQUIDO, sans-serif
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background: var(--paragraphe);
  user-select: none;
  border: none;
}

.popUp {
  text-align: center;  
  position: fixed;
  margin: auto;
  inset: 0;
  z-index: 10;
  padding: 20px;
  

  width: 450px;
  height: 230px;

  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

  > h2 {
      font-size: 45px;
    }

    > p {
      margin-top: 10px ;
      font-size: 20px;
    }

    button {
      margin-top: 10px ;
      background-color: var(--highlight);
      height: 50px;
      aspect-ratio: 3/1;
      color: white;

      
      div {
        transform: translateY(-7px);
      
        span {
          font-family: LIQUIDO, sans-serif;
          font-size: 50px;
          
        }
      }

    }

    &.hide{
      display: none;
    }
}

button {
  border: none;
}

body {
  overflow-x: hidden ;
  background: url("../ressources/background.png") repeat;

  min-height: 80vh;
}

main{
  min-height: 95vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  background: var(--main);
  height: 60px;
  width: 100%;
  --widthNavBar: 1200px;
  padding-left: calc((100vw - var(--widthNavBar)) / 2);
  padding-right: calc((100vw - var(--widthNavBar)) / 2);
  z-index: 5;

  .logo {
    user-select: none ;
    font-size: 70px;
    margin-top: -2px;
    margin-left: 5px;
    color: var(--highlight);
    text-decoration: none;

    span:first-of-type {
      font-family: LIQUIDO, sans-serif;
    }

    span:last-of-type {
      font-family: LIQUIDO-Fluid, sans-serif;
    }
  }
}

form {

  button[type="submit"] {
    height: 35px;

    background: var(--highlight);

    width: 60%;
    margin: auto;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }

    span {
      display: block;
      color: var(--background);
      font-family: LIQUIDO, sans-serif;
      font-size: 35px;
      margin-top: -5px;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px;
    width: 75%;

    label {
      margin-bottom: 5px;
      font-size: 18px;
    }

    input {
      padding-left: 5px;
      font-size: 18px;
      background: var(--background);
      border: none;
      border-bottom: var(--paragraphe) solid 2px;
      transition: border-bottom-color 0.5s;
      width: 100%;
      margin: 0 auto;

      &:focus {
        border-bottom: var(--highlight) solid 2px;

        outline: none;
      }
    }

    &.submitContainer {
      margin: 20px auto 30px auto;

      label {
        color: var(--paragraphe);
        font-size: 12px;
        text-decoration-line: underline;
        text-align: center;
        transition: color .4s;

        &:hover {
          color: var(--highlight);
        }
      }
    }
  }


}

main {

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 80px 15px 50px 15px;

  h2 {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 60px;
    &.sectionTitle {
      margin-bottom: 10px;
    }
  }

  h3 {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 50px;
  }
}

#account > a {
  display: block;
  margin:auto;
  text-decoration: none;
  text-align: center;
  height: 25px;
  width: 125px;
  color: white;
  background-color: var(--highlight);
}

footer {
  bottom: 0;
  padding: 10px;
  background-color: var(--main);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > div {

    > h3 {
      font-size: 50px;

      span:first-of-type {
        font-family: LIQUIDO, sans-serif;
      }
      span:last-of-type{
        font-family: LIQUIDO-Fluid, sans-serif;
      }
    }
  }

  #quote {
    margin-top:10px;
    > p {
      max-width: min(1000px, 100vw);
      font-size: 16px;
      font-style: italic;
      text-align: center;

      &:before, &:after{
        content: "“ ";
      }
    }
    > span{
      font-size: 18px;
      display: block;
      text-align: center;
    }
  }

  div.socialNetwork {
    display: flex;
    gap: 40px;
    > a {
      width: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: white;

      > img {
        width: 60px;
      }
    }
  }
}

