nav {
  justify-content: center;

  a {
    margin: 0;
  }
}

main {
  margin-top: 100px;
  min-height: 0;
  height: auto;
  width: 360px;
  background: white;
  padding: 0;

  > div {
    height: 50px;
    width: 100%;

    > div {
      margin: auto;
      position: absolute;
      display: flex;

      > h2 {
        user-select: none;
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 40px;
        width: 180px;
        transition: color .4s;
      }

      h2:first-of-type {
        color: black;
      }

      h2:last-of-type {
        color: var(--background);
      }
    }

    &.hide {
      > div {
        h2:first-of-type {
          color: var(--background);
        }
        h2:last-of-type {
          color: black;
        }
      }

      rect {
        margin-left: 0;
      }
    }

    rect {
      display: block;
      height: 100%;
      width: 50%;
      background: var(--highlight);
      margin-left: 50%;
      transition: margin-left 0.5s ;
    }
  }

  section {
    padding: 20px 0 20px;
    display: block;


    > h3 {
      font-size: 22px;
      font-family: "Poppins Light", sans-serif;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 20px;
    }

    form {

      button[type="submit"] {
        height: 35px;

        background: var(--highlight);

        width: 60%;
        margin: auto;
        border: none;

        &:focus {
          outline: none;
          border: none;
        }

        span {
          display: block;
          color: var(--background);
          font-family: LIQUIDO, sans-serif;
          font-size: 35px;
          margin-top: -5px;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        margin: 0 auto 10px;
        width: 75%;

        label {
          margin-bottom: 5px;
          font-size: 18px;
        }

        input {
          padding-left: 5px;
          font-size: 18px;
          background: var(--background);
          border: none;
          border-bottom: var(--paragraphe) solid 2px;
          transition: border-bottom-color 0.5s;
          width: 100%;
          margin: 0 auto;

          &:focus {
            border-bottom: var(--highlight) solid 2px;

            outline: none;
          }
        }

        &.submitContainer {
          margin: 20px auto 30px auto;

          label {
            color: var(--paragraphe);
            font-size: 12px;
            text-decoration-line: underline;
            text-align: center;
            transition: color .4s;

            &:hover {
              color: var(--highlight);
            }
          }
        }
      }


    }

    &.hide {
      display: none;
    }
  }
}